.devices-main-menu {
  overflow: hidden;
  position: relative;
  margin-top: 16px;
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    padding: 16px;
    height: 160px;
    border: 1px solid var(--eaeaea);
    border-radius: 6px;
    width: 240px;
    flex-shrink: 0;
    & p {
      align-self: start;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: var(--1b1c21);
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
  }
  &::after {
    content: "";
    height: 100%;
    width: 24px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    z-index: 1;
    background-image: linear-gradient(
      270deg,
      var(--f8f8f8) 0.04%,
      rgba(248, 248, 248, 0) 100%
    );
  }
  &--margin {
    &--left {
      margin-left: 16px;
    }
  }
  @include mobile-above {
    grid-template-columns: repeat(3, 1fr);
    height: 160px;
    transition: height 0.7s ease-out;
    overflow: hidden;
    padding-inline: 24px;
    column-gap: 24px;
    margin-top: 24px;
    margin-left: 0;

    &--height {
      transition: height 0.5s ease-in;
      height: 340px;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      row-gap: 16px;
      column-gap: 24px;
      padding-left: 16px;
      padding-left: 0;
    }
    &__item {
      width: auto;
    }
  }
  @include tablet-above {
    padding-inline: 32px;
    column-gap: 32px;
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
