.feedback {
  display: none;
  border-left: 1px solid var(--d9fff5);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  flex-direction: column;
  width: 320px;
  box-shadow: none;
  z-index: 150;
  background-color: var(--white);

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    border: 3px solid transparent;
    border-left-color: var(--41f6d7);
    padding-left: 16px;
    line-height: 35px;
    font-weight: 900;
    @include mobile-above {
      padding-left: 32px;
    }
  }
  @include mobile-above {
    width: 440px;
    box-shadow: 16px 0px 52px 0px #0e185033;
  }
}
