.feedback-main {
  display: flex;
  flex-direction: column;
  &--padding {
    padding-inline: 16px;
    padding-top: 24px;
  }
  &__name {
    padding-left: 16px;
    padding-block: 12px;
  }
  &__phone {
    padding-left: 16px;
    padding-block: 12px;
    margin-top: 16px;
  }
  &__mail {
    padding-left: 16px;
    padding-block: 12px;
    margin-top: 16px;
  }
  &__massage {
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 82px;
    margin-top: 16px;
  }
  @include mobile-above {
    padding-inline: 32px;
  }
}
