.main-header {
  &__service-menu {
    display: none;
    @include tablet-above {
      display: flex;
    }
  }
  @include tablet-above {
    display: flex;
    align-items: center;
    margin-top: 42px;
    margin-right: 25px;
  }
}
